@using MediPlus.MVC.Controllers
<div class="owl-stage" style="transform: translate3d(-2373.6px, 0px, 0px); transition: 0.5s; width: 5538.4px;">
	<div class="owl-item cloned" style="width: 791.2px; margin-right: 0px;">
		<div class="single-slider" style="background-image:url('~/img/slider.jpg')">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="text">
							<h1>We Provide <span>Medical</span> Services That You Can <span>Trust!</span></h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p>
							<div class="button">
								<a href="#" class="btn">Get Appointment</a>
								<a href="#" class="btn primary">About Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><div class="owl-item cloned" style="width: 791.2px; margin-right: 0px;">
		<div class="single-slider" style="background-image:url('~/img/slider3.jpg')">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="text">
							<h1>We Provide <span>Medical</span> Services That You Can <span>Trust!</span></h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p>
							<div class="button">
								<a href="#" class="btn">Get Appointment</a>
								<a href="#" class="btn primary">Conatct Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><div class="owl-item" style="width: 791.2px; margin-right: 0px;">
		<div class="single-slider" style="background-image:url('~/img/slider2.jpg')">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="text">
							<h1>We Provide <span>Medical</span> Services That You Can <span>Trust!</span></h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p>
							<div class="button">
								<a href="#" class="btn">Get Appointment</a>
								<a href="#" class="btn primary">Learn More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><div class="owl-item active" style="width: 791.2px; margin-right: 0px;">
		<div class="single-slider" style="background-image:url('~/img/slider.jpg')">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="text">
							<h1>We Provide <span>Medical</span> Services That You Can <span>Trust!</span></h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p>
							<div class="button">
								<a href="#" class="btn">Get Appointment</a>
								<a href="#" class="btn primary">About Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><div class="owl-item" style="width: 791.2px; margin-right: 0px;">
		<div class="single-slider" style="background-image:url('~/img/slider3.jpg')">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="text">
							<h1>We Provide <span>Medical</span> Services That You Can <span>Trust!</span></h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p>
							<div class="button">
								<a href="#" class="btn">Get Appointment</a>
								<a href="#" class="btn primary">Conatct Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><div class="owl-item cloned" style="width: 791.2px; margin-right: 0px;">
		<div class="single-slider" style="background-image:url('~/img/slider2.jpg')">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="text">
							<h1>We Provide <span>Medical</span> Services That You Can <span>Trust!</span></h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p>
							<div class="button">
								<a href="#" class="btn">Get Appointment</a>
								<a href="#" class="btn primary">Learn More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><div class="owl-item cloned" style="width: 791.2px; margin-right: 0px;">
		<div class="single-slider" style="background-image:url('~/img/slider.jpg')">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="text">
							<h1>We Provide <span>Medical</span> Services That You Can <span>Trust!</span></h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p>
							<div class="button">
								<a href="#" class="btn">Get Appointment</a>
								<a href="#" class="btn primary">About Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>